<h2>Edit request</h2>

<div class="span-24 last">
  <img class="centred halfsize"  
       src="<%=h image_request_path(@request) %>" 
       alt="Image uploaded as part of this request"
       onclick="location.href = '<%= image_request_path(@request) %>'" />
</div>

<% form_for(@request) do |f| %>
  <%= f.error_messages %>

  <div class="span-11 append-1">
    <%= f.label :question %><br />
    <%= f.text_area :question, :rows => 5 %>
  </div>
  <div class="prepend-1 span-11 last">
    <%= f.label :answer %><br />
    <%= f.text_area :answer, :rows => 5 %>
  </div>

  <div class="prepend-9 span-6 append-9 last">
    <%= f.submit 'Update' %>
    <input type="button" value="Show" onclick="location.href='<%= request_path  %>'"/>
    <input type="button" value="All"  onclick="location.href='<%= requests_path %>'"/>
  </div>
<% end %>
