<div class="span-24 last">
  <img class="centred halfsize"  
       src="<%=h image_request_path(@request) %>" 
       alt="Image uploaded as part of this request"
       onclick="location.href = '<%= image_request_path(@request) %>'" />
</div>

<div class="span-12">
  <b>Question:</b>
  <%=h @request.question %>
</div>

<div class="span-12 last">
  <b>Answer:</b>
  <%=h @request.answer %>
</div>

<div class="prepend-9 span-4 append-9 last">
  <form action="">
    <input type="button" value="Edit" onclick="location.href='<%= edit_request_path %>'"/>
    <input type="button" value="All"  onclick="location.href='<%= requests_path     %>'"/>
  </form>
</div>
