<p>
  <img style="height:50%; width:50%" 
       src="<%=h image_request_path(@request) %>" 
       alt="Image uploaded as part of this request"
       onclick="location.href = '<%= image_request_path(@request) %>'" />
</p>

<p>
  <b>Question:</b>
  <%=h @request.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @request.answer %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
